In [54]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [55]:
##load model and preprocessors
model=load_model('model.h5')

with open ("label_Onehot_geograpy.pkl","rb") as file:
    label_encoder_geo=pickle.load(file)

with open("label_encoder_gender.pkl","rb") as file:
    label_encoder_gender = pickle.load(file)

with open("scaler.pkl","rb") as file:
    scaler =  pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [56]:
## Example input data
input_data= { 
    "CreditScore": 600,
    "Geography" :"France", 	
    "Gender":"Male",	
    "Age":40,	
    "Tenure":3,	
    "Balance":60000,	
    "NumOfProducts":2,	
    "HasCrCard":1,	
    "IsActiveMember":1,	
    "EstimatedSalary":50000,	
    }

In [57]:
##ONE-HOT Encoder
geo_encoded = label_encoder_geo.transform([[input_data["Geography"]]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(["Geography"])) 
geo_encoded_df

c:\Users\apasi\Desktop\NEW Beginning\Churn_Modeling_Deep_Learning\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [58]:
input_data = pd.DataFrame([input_data])

In [59]:
input_data["Gender"] = label_encoder_gender.transform([input_data["Gender"]])

c:\Users\apasi\Desktop\NEW Beginning\Churn_Modeling_Deep_Learning\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [60]:
input_data = pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)

In [61]:
input_data

   CreditScore Geography  ...  Geography_Germany  Geography_Spain
0          600    France  ...                0.0              0.0

[1 rows x 13 columns]

In [63]:
input_df= input_data.drop(["Geography"],axis=1)

In [64]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [66]:
input_scaler = scaler.transform(input_df)
input_scaler

array([[-0.54007722,  0.91186722,  0.10685843, -0.69164931, -0.26034447,
         0.81311138,  0.64946204,  0.96978946, -0.88017893,  1.00053348,
        -0.57776083, -0.57735027]])

In [68]:
prediction=model.predict(input_scaler)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 102ms/step

array([[0.02317014]], dtype=float32)

In [69]:
prediction_probablity =  prediction[0][0]

In [70]:
prediction_probablity

np.float32(0.02317014)

In [71]:
if prediction_probablity > 0.5:
    print("the customer likely to churn")
else:
    print("the customer is not likely to churn")

the customer is not likely to churn